
html {
    background-color: #F0F4DA;
}

body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'roboto';
    background-color: #F0F4DA;
}

h1 {
    text-align: center;
}

#wrapper {
    padding: 4em;
    width: 70%;
    margin: auto;
    background-color: white;
    min-width: 255px;
}

.banner {
    display: block;
    margin: auto;
}

#screenNav {
    display: none;
}

.user {
    font-size: 4em;
    margin-top: 0.5em;
    margin-bottom: 0;
    text-align: center;
    color: #edf2ea;
}

.drop {
    padding: 0;
    margin-top: -5em;
    text-align: center;
}

#log {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#button {
margin-top: 0.5em;
margin-bottom: 0.5em;
    border-color: #99B507;
    color: #99B507;
}

#customers td, #customers th {
    font-size: 12px;
}

.pointeuse_grid {
    justify-content: space-evenly;
    margin: 0;
}

.pointeuse {
    padding: 0;
    height: 8em;
    width: 8em;
    margin: 0.5em;
    border: solid;
    border-width: 0.2em;
    border-color: darkgrey;
    background-color: white;
}

.PointageOn {
    padding: 0;
    text-align: center;
    border: solid;
    border-color: #99B507;
    color: #99B507;
    border-width: 0.4em;
}

img.imgPointage {
    height: 8em;
    width: 8em;
}

.Transmission {
    margin-top: 1em;
}

textarea {
    width: 450px;
    height: 150px;
}

label {
    margin-top: 1em;
}

.espace {
    margin-top: 1em;
}

#calendar-holder {
    margin-top: 2em;
    margin-bottom: 2em;
}

.mentions {
    color: #95b6bd;
    text-align: justify;
    text-justify: inter-word;
}

.gallerie {
    display: block;
    margin: auto;
}

.theme {
    display: flex;
}

.theme .titreSujet {
    flex: 3;
}

.theme .infoSujet {
    flex: 2;
}

.fiche {
    font-size: 20px;
    color: #99B507;
}

.uk-card-body li {
    font-size: 12px;
}
.table{
    display: table;
}
.uk-comment-body{
margin-bottom: 0.5em;
white-space: nowrap;
}
.uk-grid-column-medium, .uk-grid-medium {
     margin-left: 0em;
}
.uk-grid {
    margin-left: 0em;
    justify-content: center;
}
.uk-card{
   margin: 0.2em; 
   max-width: 380px;
}

article{
    margin: 1em;
    min-width: 230px;
    
}

.PointageOn{
    max-width: 240px;
}
#NoPadding{
padding-left: 0;
}

@media only screen and (max-width: 1050px) {
    /* For mobile phones: */
    #wrapper {
        width: 100%;
        padding: 1em;
    }
}

@media only screen and (max-width: 750px) {
    /* For mobile phones: */
    #wrapper {
        width: 100%;
        padding: 1em;
    }
    #destopNav {
        display: none;
    }
    #screenNav {
        display: initial;
        color: #99B507;
        margin-bottom: 0.5em;
        font-size: 1.2em;
    }
    #screenNav a {
        color: #99B507;
        font-size: 1.2em;
    }
    .mentions {
        font-size: 0.8em;
    }
    .user {
        font-size: 2em;
        margin-top: 0.2em;
        margin-bottom: 0;
        text-align: center;
        color: #edf2ea;
    }
    textarea {
        width: 250px;
        height: 150px;
    }
    .fc-toolbar {
        font-size: 0.5em;
    }
    .fc-view {
        font-size: 0.7em;
    }
    div .fc-right {
        display: none;
    }
    .uk-width-expand {
        padding-right: 8em;
    }

}
