{% extends 'home/index.html.twig' %}
{% block contenu %}

    {% if editMode %}
        <h1>Modification d'une commission</h1>
    {% else %}
        <h1>Ajout d'une commission</h1>
    {% endif %}
    
    {{ form(formCommissions) }}

{% endblock %}