{% extends 'home/index.html.twig' %}
{% block contenu %}


    <p><a href="{{ path('enfants_list') }}">Retour à la liste des enfants</a></p>

    <h1>{{ enfants }}</h1>
    <p>
        Né(e) le : {{ enfants.dateNaissance | date('d/m/Y') ~ 
            ' (' ~ enfants.intervalYears(enfants.dateNaissance) ~ ' ans)' }} <br>
    </p>

{% endblock %}