<form method="post" action="{{ path('absences_delete', {'id': absence.id}) }}" onsubmit="return confirm('Valider la suppression ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ absence.id) }}">
    <button id="button" class="uk-button uk-button-default uk-button-small">Supprimer</button>
</form>
