{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modification d'absence</h1>

    {{ include('absences/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="uk-button uk-button-secondary uk-button-small" href="{{ path('absences_index') }}">Retour a la liste</a>

    {{ include('absences/_delete_form.html.twig') }}
{% endblock %}
